{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- <h1>翻訳したい文を入力してください</h1>
          <input type="text" id="input-toki" onchange="translatePona(this.value)" class="form-control" placeholder="例: sina sitelen e toki o">
          <script>
            function translatePona(value) {
              console.log(value);
              words_table = JSON.parse({{ words_table }});
              words = value.split(" ");
              result = "";
              for (var i = 0; i < words.length; i++) {
                if (words[i] in words_table) {
                  result += words_table[words[i]] + " ";
                } else {
                  result += words[i] + " ";
                }
              }
              document.getElementById("output-toki").innerHTML = result; 
            }
          </script> -->
          <h1>翻訳結果</h1>
          <p id="output-toki"></p>
        </div>
      </div>
    </div>

{% endblock %}
