{% extends "layout.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>翻訳したい文を入力してください</h1>
      <input
        type="text"
        id="input-toki"
        onchange="translatePona(this.value)"
        class="form-control"
        placeholder="例: sina sitelen e toki o"
      />

      <script>
        //文字が入力されたら翻訳して表示する
        function translatePona(value) {
          console.log(value);
          words_table = {{ words|tojson }};//worlds_table.jsonのデータを取得
          words = value.split(" ");//入力された値

        sentence = document.getElementById("output-toki");
        card = document.getElementById("word-meaning-list");

          //入力された値を単語ごとに分けて翻訳する
          resultSentence = ""; //翻訳した文章全体
          resultCard = ""; //翻訳した単語のカード
          for (var i = 0; i < words.length; i++) {
            wordNoSymbol = words[i].replace(/[\.,:;!?()'"]/g, ""); //語末の記号を削除
            if (wordNoSymbol in words_table) {
              if (words[i].match(/[\.,:;!?()]/g) != null) //語末の記号があれば追加する
                resultSentence += '<span style="color:red;">'+ words_table[wordNoSymbol]["単語"] + '</span>'+ words[i].match(/[\.,:;!?()]/g) + " ";
              else{ //語末の記号がなければ単語のみ表示する(語末の記号がない場合は、語末の記号を削除した単語と一致するので、語末の記号を削除した単語で翻訳する)
                resultSentence += '<span style="color:red;">'+ words_table[wordNoSymbol]["単語"] + '</span>'+ " ";
              }
              cardText = '<p class="card-text">'+ words_table[wordNoSymbol]["カナ"] + '</p>' + '<p class="card-text">'+ words_table[wordNoSymbol]["名詞"] + '</p>' + '<p class="card-text">'+ words_table[wordNoSymbol]["動詞"] + '</p>' + '<p class="card-text">'+ words_table[wordNoSymbol]["修飾子"] + '</p>' + '<p class="card-text text-truncate" >'+ words_table[wordNoSymbol]["その他"] + '</p>';
              resultCard += '<div class="card col" title="'+words_table[wordNoSymbol]["単語"]+'"  data-bs-toggle="popover" data-bs-placement="bottom" data-bs-html="true" data-bs-content="' + words_table[wordNoSymbol]["カナ"] + '<br>' + words_table[wordNoSymbol]["名詞"] + '<br>' + words_table[wordNoSymbol]["動詞"] + '<br>' + words_table[wordNoSymbol]["修飾子"] + '<br>' + words_table[wordNoSymbol]["その他"] + '"><div class="card-body"><h5 class="card-title">' + '<a href="' +'/' + words_table[wordNoSymbol]["単語"] +'">' +  words_table[wordNoSymbol]["単語"] + '</a></h5>'+cardText+'</div></div>';
            } else {
              resultSentence += xssEscape(words[i]) + " ";
            }
            sentence.innerHTML = resultSentence;
            card.innerHTML = resultCard;
          }
          initializePopovers();
        }
        function xssEscape(s){
          return s.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;').replace(/'/g, '&#39;');
        }
      </script>
      <h1>翻訳結果</h1>
      <p id="output-toki"></p>
    </div>
  </div>

  <div id="word-meaning-list" class="row row-cols-5"></div>
</div>
<script>
  function initializePopovers() {
    //popper.jsの初期化
    var popoverTriggerList = [].slice.call(
      document.querySelectorAll('[data-bs-toggle="popover"]')
    );
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl, {
        trigger: "hover",
      });
    });
  }
  initializePopovers();
</script>
{% endblock %}
